// Create mixins for text shadow
// Create mixins for box shadow
// Create a page with multiple elements
// Use the mixin for text shadow on one element
// For some other element, use the mixin for box shadow

$background-blue-color: #2962ff;
$font-color: white;
$width-container: 960px;

.container {
  width: $width-container;
  margin: 0 auto;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background: #e3f2fd;

  h1 {
    padding: 20px 0;
    text-align: center;
    background: $background-blue-color;
    color: $font-color;
  }

  h2 {
    margin-bottom: 0px;
    padding-left: 10px;
    text-align: left;
    background: $background-blue-color;
    color: $font-color;
  }

  img {
    height: 400px;
    margin: 40px auto 40px;
    display: block;
  }

  table {
    width: 100%;
    color: #333;
    background: $font-color;
    border-collapse: collapse;
    @include box-shadow(10px 10px 5px 0px red, 3px dashed tomato, #50f442);

    tr {
      border-bottom: 1px solid #eee;

      td {
        padding: 5px 0;
      }

      td:first-child {
        width: 300px;
        padding-left: 10px;
      }
      td {
        @include text-shadow(5px 5px 2px tomato);
      }
    }
  }
  p#footer {
    margin-top: 100px;
  }
}
