a {
  display: block;
}
.root {
  text-align: center;
}
.style {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.singleShow {
  display: flex;
  justify-content: space-between;
  text-align: left;
}
.singleShow img {
  height: 800px !important;
  width: 600px;
  margin-bottom: 10px;
}
.singleShow .lists {
  width: 40%;
}

.root .details {
  text-align: left!important;
}
span {
  width: 210px;
  margin: 15px;
}